{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PAGINA CAFERTERIA - ADMINISTRACIÓN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <defs>
        <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">...</symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">...</symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">...</symbol>
      </defs>
    </svg>

    <div class="preloader-wrapper">...</div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">...</div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch" aria-labelledby="Search">...</div>
    
    <header>
      <div class="container-fluid">
        <div class="row py-3 border-bottom">
          
          <div class="col-sm-6 col-lg-6 text-center text-sm-start">
            <div class="main-logo">
              <a href="{% url 'home:homeapp' %}">
                <img src="{% static 'images/logo.png'%}" alt="logo" class="img-fluid">
              </a>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-6 d-flex justify-content-end align-items-center">
            <div class="support-box text-end">
              <span class="fs-6 text-muted">Para Soporte:</span>
              <h5 class="mb-0">+502 5821-7572</h5>
            </div>
          </div>

        </div>
      </div>
      
      <div class="container-fluid">
        <div class="row py-3">
          <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
            <nav class="main-menu d-flex navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header justify-content-center">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                
                  <ul class="navbar-nav justify-content-start menu-list list-unstyled d-flex gap-md-4 mb-0">
                    <li class="nav-item">
                        <a href="{% url 'usuarios:listausuarios' %}" class="nav-link text-uppercase fw-bold">USUARIOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'usuarios:listaroles' %}" class="nav-link text-uppercase fw-bold">ROLES</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'productos:listaproductos' %}" class="nav-link text-uppercase fw-bold">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'pedidos:pedido_list' %}" class="nav-link text-uppercase fw-bold">PEDIDOS</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'reportes:dashboard' %}" class="nav-link text-uppercase fw-bold">REPORTES</a>
                  </li>
                  </ul>
                
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      
      {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      
      {% block contenido%}
      {% endblock %}
      
      </header>
      
      <footer class="py-5">
      </footer>
      <div id="footer-bottom">
      </div>
    
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>